.nav {
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  bottom: 0px;
  left: 0px;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-around;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 10px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transfrom: none;
    opacity: 1;
  }
}

.nav {
  opacity: 0;
  animation: showNavBar 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes notification {
  0% {
    transform : translate(-2px, -2px);
  }
  20% {
    transform : translate(1px, -1px);
  }
  40% {
    transform : translate(-3px, 1px);
  }
  60% {
    transform : translate(0px, -3px);
  }
  80% {
    transform: translate(2px, 0px);
  }
  100% {
    transform: translate(-1px, 2px);
  }
}

.nav__list-item:nth-child(2) {
  animation: notification 0.5s;
  animation-iteration-count: 10;
}