@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.background {
  width: 415px;
  height: 875px;
  background-color: #dfe2e7;
}