@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #e76674;
}

.btn-link {
  width: 100%;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  height: 600px;
  width: 300px;
  padding: 30px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 20px;
}

.sign-in {
  padding: 10px;
  margin-bottom: 30px;
}
.sign-in span {
  font-weight: 700;
  font-size: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs input {
  border-radius: 10%;
  margin: 10px 0px;
  height: 30px;
  padding: 5px;
  opacity: 0.5;
}

.forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.forgot a {
  font-size: 12px;
}

.remember {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.5;
  margin-bottom: 50px;
}
.remember span {
  font-size: 12px;
  padding: 3px;
}

.btn {
  height: 35px;
  border-radius: 17px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn span {
  font-size: 12px;
  font-weight: 600;
}
.btn-signin {
  width: 100%;
  background-color: #de2236;
  margin-bottom: 30px;
}

.or {
  width: 100%;
}
.or span {
  font-size: 14px;
  font-weight: 700;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}

.socials div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  border-radius: 16px;
}

.socials__Facebook {
  background-color: #3e508a;
}

.socials__Twitter {
  background-color: #5297f0;
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.footer span {
  opacity: 0.5;
  font-size: 12px;
}
.footer a {
  font-size: 12px;
  margin: 0px 5px;
}
